1.A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.

Minitab File : Cutlets.mtw

In [ ]:
solution:

Objective of the problem is that,we have to determine wether there is  
any significant difference in the diameter of the cutlet between two units.

Framing of the hypothesis: let mu1=mean dia. of the unit1 cutlet and 
                               mu2=mean dia. of the unit2 cutlet.
        
Null hypothesis(Ho): mu1-mu2=o(there is no difference in the dia. of the both units)

Alternative hypothsis(Ha): mu1-mu2=0(there will be difference in the dia. of the both units)

Test statistics: 2 tail test
    
Significance level: 0.05 / 5%

In [1]:
import pandas as pd
from scipy import stats

In [30]:
Cutlets=pd.read_csv('C:\\Users\\vishw\\Assignments questions of excelr\\Hypothesis_Testing\\Cutlets.csv')
Cutlets.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [25]:
UnitA = Cutlets['Unit A']
UnitB = Cutlets['Unit B']

In [27]:
pvalue = stats.ttest_ind(UnitA,UnitB)[1]

In [28]:
pvalue

0.4722394724599501

In [29]:
if pvalue<0.05:
    print('we reject null hypothesis')
else :
    print('we fail to reject null hypothesis')

we fail to reject null hypothesis

so,there is no significant diffrence in the dia of the cutlets.

2.A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.

Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.

Minitab File: LabTAT.mtw

In [ ]:
Objective is that,we have to detemine is there any difference in the avg. TAT 
among the different laboratories at 5% significance level.

Framing of the hypothesis:let mu1,mu2,mu3 and mu4 are the mean of the 4 laboratories.

Null hypothesis(Ho): mu1=mu2=mu3=m4(there is no difference in the avg. 
                                    TAT of the laboratories)
Alternative hypothesis(Ha): mu1,mu2,mu3,mu4 are not equal(there is difference in the avg.
                                                         TAT of the laboratories)
Test statistics: since data has 4 samples,ANOVA test is performed.
    
Significance level:0.05 or 0.5%

In [2]:
import pandas as pd
from scipy import stats

In [3]:
LabTAT=pd.read_csv('C:\\Users\\vishw\\Assignments questions of excelr\\Hypothesis_Testing.\\LabTAT.csv')

In [5]:
LabTAT

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [6]:
lab1=LabTAT['Laboratory 1']
lab2=LabTAT['Laboratory 2']
lab3=LabTAT['Laboratory 3']
lab4=LabTAT['Laboratory 4']

In [7]:
pvalue=stats.f_oneway(lab1,lab2,lab3,lab4)[1]
pvalue

2.1156708949992414e-57

In [8]:
if pvalue<0.05:
    print('we reject null hypothesis')
else:
        print('we reject alternative hypothesis')

we reject null hypothesis

In [ ]:
3. Sales of products in four different regions is tabulated for males and females. 
   Find if male-female buyer rations are similar across regions.

solution:
   Objective is to find wether the male-female buyer rations are similar across regions.
    framing of hypothesis.
    
   Null Hypothesis(H0) : Male-female buyer rations are similar across all regions.
    
   Alternative Hypothesis(Ha) : Male - female buyer rations are not similar across all regions.
    
   Test Statistics : Chi Square Test.
    
   Significance Level : 0.05

In [9]:
import pandas as pd
from scipy import stats

In [11]:
BuyerRatio=pd.read_csv('V:\\Data science\\excelr.drvie files\\Assignments\\Hypothesis_Testing\\BuyerRatio.csv')
BuyerRatio

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [13]:
Males=[50,142,131,70]
Females=[435,1523,1356,750]
sales=[Males,Females]

In [16]:
chistats=stats.chi2_contingency(sales)
print('test t=%f p-value=%f' % (chistats[0],chistats[1]))
print('interpret by p-value')
if chistats[1]<0.05:
    print('we reject null hypothesis')
else:
        print('we accept null hypothesis')

test t=1.595946 p-value=0.660309
interpret by p-value
we accept null hypothesis

Inference: Male - female buyer rations are not similar across all regions.

4.TeleCall uses 4 centers around the globe to process customer order forms.
They audit a certain %  of the customer order forms. Any error in order form renders it defective 
and has to be reworked before processing. The manager wants to check whether the defective %  varies by centre.
Please analyze the data at 5% significance level and help the manager draw appropriate inferences.

In [2]:
import pandas as pd
from scipy import stats

Objective is to verify whether the defective % varies by centre

Null Hypothesis(Ho):error % does not by centres

Alternate Hypothesis(Ha):error % varies by centres

Test Type:chi-square test

significance level:0.05

In [6]:
data=pd.read_csv('C:\\Users\\vishw\\Assignments\\Hypothesis_Testing\\Costomer+OrderForm.csv')
data

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [8]:
Phillippines=data.Phillippines.value_counts()
Phillippines

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [9]:
Indonesia=data.Indonesia.value_counts()
Indonesia

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [10]:
Malta=data.Malta.value_counts()
Malta

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [11]:
India=data.India.value_counts()
India

Error Free    280
Defective      20
Name: India, dtype: int64

In [14]:
ErrorFree=[271,267,269,280]
Defective=[29,33,31,20]

In [17]:
chistats_Defective=stats.chi2_contingency([ErrorFree,Defective])
print('Test t=%f p-value=%f'%(chistats_Defective[0],chistats_Defective[1]))
print('Intrepret by p-value')
if chistats_Defective[1]<0.05:
    print('we reject null hypothesis')
else:
    print('we fail to reject null hypothesis')

Test t=3.858961 p-value=0.277102
Intrepret by p-value
we fail to reject null hypothesis